/**
 * Styles for vsc-elearnjs Webviews
 * by Arne Westphal
 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #cccccce6;
  background: #1e1e1e;
}

label {
  display: list-item;
  list-style: none;
  width: 100%;
  padding: 2px 3px;
  margin-bottom: 2px;
  border-radius: 3px;
}

label:hover {
  background: #252526;
}

label input[type="checkbox"],
label input[type="checkbox"] + span {
  vertical-align: middle;
}

input:focus,
select:focus,
.btn:focus {
  outline: 1px solid #0e639c;
}

.wrapper {
  max-width: 40em;
}

.header {
  color: #e7e7e7;
  border-bottom: 1px solid #181a1f;
  margin-bottom: 1em;
}

.header > * {
  font-weight: normal;
  margin: .8em 0 .5em;
}

.footer {
  margin-top: 1em;
}

h4 {
  color: #e7e7e7;
  margin: .8em 0 .5em;
}

.description {
  display: block;
  margin: 0.5em 0;
}

/* Checkbox */
input[type="checkbox"] {
  vertical-align: middle;
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  width: 1.3em;
  height: 1.3em;
  font-size: inherit;
  border-radius: 3px;
  background-color: #3c3c3c;
  -webkit-transition: background-color 0.16s cubic-bezier(0.5, 0.15, 0.2, 1);
  transition: background-color 0.16s cubic-bezier(0.5, 0.15, 0.2, 1);
}

input[type="checkbox"]:checked:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='-2 -2 16 16'%3E%3Cpath fill='%23C5C5C5' d='M9 0L4.5 9 3 6H0l3 6h3l6-12z'/%3E%3C/svg%3E") 50% no-repeat;
}

/* Select */
select {
  display: block;
  width: 100%;
  height: 31px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #f0f0f0;
  background-color: #3c3c3c;
  background-image: none;
  border: 1px solid #181a1f;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

select:focus {
  border: 1px solid #181a1f;
}

/* Input */
input[type="text"],
input[type="number"],
input:not([type]) {
  padding: .5em .8em;
  font-size: 12px;
  color: #cccccc;
  background-color: #292929;
  background-image: none;
  border: 1px solid #292929;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="text"]:invalid,
input[type="number"]:invalid,
input:not([type]):invalid {
  outline: 1px solid #be1100;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 0 0.8em;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 2em;
  text-align: center;
  vertical-align: middle;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  z-index: 0;
  -webkit-user-select: none;
  color: #cccccc;
  text-shadow: none;
  background-color: #3c3c3c;
}

.btn:focus,
.btn:hover {
  color: white;
  background-color: #444444;
}

.btn-primary {
  color: #fff;
  background-color: #0e639c;
}

.btn-primary:focus,
.btn-primary:hover {
  color: #ffffff;
  background-color: #1177bb;
}

.btn-group {
  word-spacing: 0;
  float: right;
}

.btn-group * {
  word-spacing: normal;
}

.btn-group .btn {
  margin: 0 .5em 0;
}

.btn-group .btn:first-of-type {
  margin-left: 0;
}

.btn-group .btn:last-of-type {
  margin-left: 0;
}
